/* Définition de la page */


html, body {
        
    min-height: 100vh;
    width: 100%;
  
}


/* Definition d'un grid pour la positionnement des élements dans la page*/


.disposition {

    display: grid;
    grid-template-rows: 100px 517px 0px 0px 100px;
    grid-template-columns: repeat(5, 2fr);

}


/* Partie de la barre d'Accueil */


.Navbar-Accueil {

    grid-column: 1;
    grid-row: 1;

    background-color: rgb(2, 97, 103);
    color: white;
    border-bottom : solid white;
    border-right : solid white;

    text-align: center;

    font-size: 370%;

}


/* Partie de la barre de Recherche */

.Navbar-Recherche {

    display: flex;

    flex-direction : row;

    grid-column: 2 / 6;
    grid-row: 1;

    background-color: rgb(2, 97, 103);
    color: white;
    border-bottom : solid white;

    align-items : center;

  }

  #bar-recherche{

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    background-color: rgb(25, 157, 166);

    border: solid white;
    color : white;

    margin-left: 5%;

    width : 500px;

  }

  #bouton-recherche{

    border : solid white;
    background-color: rgb(25, 157, 166);
    color : white;

  }  

  .bouton-user{

    margin-left: auto;
    margin-right: 2%;

  }

  #id-bouton-user{

    color : white;
    border: rgb(25, 157, 166);
    background-color : rgb(25, 157, 166);

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    font-size: 120%;

  }


/* Partie de la barre de Playlist */


.Bar-Playlist{

    display: grid;

    grid-column: 1;
    grid-row: 2 / 6;

    background-color: rgb(2, 97, 103);
    color: white;
    border-right : solid white;

    font-size : 200%;
    text-align: center;

}

.flex-playlist{

    display: flex;

    flex-direction : column;

    padding-right : 5%;
    padding-left : 5%;

}

#Playlist{

    border-bottom : solid white;

    padding-top: 5%;
    margin-bottom: 5%;

}

#playlist-like{

    border: rgb(25, 157, 166);
    background-color : rgb(25, 157, 166);
    color: white;
    font-size: 75%;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    padding-top: 2%;
    padding-bottom: 2%;

    padding-right: 15%;
    padding-left: 15%;

    margin-top: 5%;
    margin-bottom: 5%;

}

.playlist-bouton{

    border: rgb(25, 157, 166);
    background-color : rgb(25, 157, 166);
    color: white;
    font-size: 75%;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    padding-top: 2%;
    padding-bottom: 2%;

    padding-right: 15%;
    padding-left: 15%;

    margin-top: 5%;
    margin-bottom: 5%;

}
  
.bouton-créer{

    margin-top: auto;

}

#id-bouton-créer{

    color : white;
    border: rgb(25, 157, 166);
    background-color : rgb(25, 157, 166);
    font-size: 75%;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    padding-top: 2%;
    padding-bottom: 2%;

    padding-right: 15%;
    padding-left: 15%;


    margin-bottom: 10%;

}


/* Partie de la barre du Footer */


.Bar-Footer{

    grid-column: 2 / 6;
    grid-row: 5 / 6;

    background-color: rgb(2, 97, 103);

    color: white;
    border-top : solid white;

}


/* Partie de la page central */


.Page-Central{

    grid-column: 2 / 6;
    grid-row: 2 / 5;

    background-color: rgb(25, 157, 166);

    color : white;

}

.flex-page{

    display: flex;
    flex-direction : column;

}

.rectangle-page{

    border: solid rgb(2, 97, 103);
    background-color: rgb(2, 97, 103);

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    text-align: center;
    margin: 4%;
}

.titre-page{

    font-size : 200%;

}


/* Partie des cards derniers morceaux sur la page d'accueil */


.flex-card{

    display: flex;
    flex-direction : row;

    justify-content: space-around;

    margin-bottom: 2%;

}

#id-card{

    color : white;
    border-color: rgb(25, 157, 166);
    background-color : rgb(25, 157, 166);


}

.card-text{

    font-style: italic;

}