html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(25, 157, 166);

}

.navbar{

    background-color: rgb(2, 97, 103);
    border-bottom: solid white;
    color: white;

    align-items: center;

    font-size: 3.5em;

  }

#erreur{
    font-size: 0.5em;
}




.rectangle-login{

    width: 30%;
    min-width: 300px;
  
    border: rgb(2, 97, 103);
    background-color: rgb(2, 97, 103);

    color: white;

    text-align: center;
    font-size: 2em;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    padding: 0.2em 3em;
  
}

.trait{

    width: 70%;

    border-bottom : solid white;

    padding-bottom: 0.5em;
    padding-right: auto;
    padding-left: auto;
    padding-top: 0.5em;

}

.texte-email{

    text-align: left;

    font-size: 0.7em;

    padding-top: 1em;

}

.texte-mdp{

    text-align: left;

    font-size: 0.7em;

    padding-top: 0.5em;

}

.btn{

    background-color: rgb(25, 157, 166);

    color: white;
    font-style: italic;

    margin-bottom: 1em;
    margin-top: 1em;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

}

.btn:hover{
    color: white;
}


