html, body {
    height: 100%;
}

.navbar{

    background-color: rgb(2, 97, 103);
    border-bottom: solid white;
    color: white;

    align-items: center;

    font-size: 3.5em;

  }


  .form{

    background-color: rgb(25, 157, 166);
    

  }

  .rectangle-login{
  
    border: rgb(2, 97, 103);
    background-color: rgb(2, 97, 103);

    color: white;

    text-align: center;
    font-size: 2em;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    margin-top: 2em;
    margin-left: 17em;
    margin-right: 17em;
    margin-bottom: 2em;

    padding: 0.2em 3em;
  
  }

  .trait{

    border-bottom : solid white;

    padding-bottom: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;

  }

  .texte-email{

    text-align: left;

    font-size: 0.7em;

    padding-top: 1em;

  }

  .texte-mdp{

    text-align: left;

    font-size: 0.7em;

    padding-top: 0.5em;

  }

  .btn{

    background-color: rgb(25, 157, 166);

    color: white;

    margin-bottom: 1em;
    margin-top: 1em;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

  }


