/*--------------------------------------------------------------------------------------------------------------*/
/* Définition de la page */
/*--------------------------------------------------------------------------------------------------------------*/


html, body {
    height: 100%;
    width: 100%;

    background-color: rgb(25, 157, 166);
}

.navbar{

    background-color: rgb(2, 97, 103);
    border-bottom: solid white;
    color: white;

    align-items: center;

    font-size: 3.5em;

}

.rectangle-Sign_up{

    width: 50%;
    min-width: 500px;
  
    border: rgb(2, 97, 103);
    background-color: rgb(2, 97, 103);

    color: white;

    text-align: center;
    font-size: 2em;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    padding: 0.2em 1em;
  
}


/*--------------------------------------------------------------------------------------------------------------*/
/* Placement de selements de la page */
/*--------------------------------------------------------------------------------------------------------------*/

.trait{

    border-bottom : solid white;

    padding-bottom: 0.5em;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 0.5em;

    margin-left: 25%;
    margin-right: 25%;

}

.texte-gauche{

    width: 95%;

    text-align: left;

    font-size: 0.7em;

    padding-bottom: 1em;
    padding-top: 1em;

    margin-right: 4em;

}

.texte-droit{

    width: 95%;

    text-align: left;

    font-size: 0.7em;

    padding-bottom: 1em;
    padding-top: 1em;

    margin-right: 1em;
    margin-left: 1em;

}

.btn{

    background-color: rgb(25, 157, 166);

    color: white;
    font-style: italic;

    font-size: 0.6em;

    margin-bottom: 1em;
    margin-top: 1em;

    padding-right: 1em;
    padding-left: 1em;

    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;

}


/*--------------------------------------------------------------------------------------------------------------*/
/* Gestion des erreurs */
/*--------------------------------------------------------------------------------------------------------------*/

#erreur{
    font-size: 0.7em;
}



